.DS_Store
build
build/*
*.build
*.pbxuser
*.perspectivev3
Debug
Debug/*
*.cbTemp
*.cbp.cbTemp
*.o
*.dSYM
*.a
*.dylib
*.out
Makefile
*.cache
stamp-h1
*.log
config.h
config.status
.deps/*.Po
*/.deps/*.Po
CommonWords
*.dirstamp
